@import '../../partials/variables';

.footer {
  padding: 20px 0 30px;
  color: white;
  text-align: center;
  background-color: $color-grey;
  width: 100%;

  .banner.ui.container {
    padding: 5em 0;
    margin: 0 2em;
    border-bottom: white 1px solid;

    .header {
      color: white;
      font-size: 38px;
      font-weight: 300;
    }
  }

  .copyright {
    margin-top: 30px;
    display: inline-block;
  }
}